* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: whitesmoke;
  background: rgb(84,153,111);
  background: radial-gradient(circle, rgb(69, 122, 90) 0%, rgba(27,42,60,1) 100%);
}

h2 {
  text-align: center;
  margin: 2rem 0 2rem 0;
}

.accordion {
  width: 60vw;
  margin: 1rem auto;
  border:1px solid black;
  padding: 2rem;
  border-radius: 3%;
}
.accordion-item{
  margin: .4rem;
}
.accordion-title {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #153121;
}

.accordion-title:hover {
  background-color: #0c5a4d;
}
p{
  font-size: 1rem;
  line-height: 2rem;
  padding: .8rem;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  border: 1px solid black;
  border-top: none;
  border-radius: 1%;
  
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}